<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.customer.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.dili.customer.domain.Address">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id"  property="id" />
    <result column="customer_id"  property="customerId" />
    <result column="market_id"  property="marketId" />
    <result column="city_path"  property="cityPath" />
    <result column="city_name"  property="cityName" />
    <result column="address"  property="address" />
    <result column="is_current"  property="isCurrent" />
    <result column="create_time"  property="createTime" />
    <result column="modify_time"  property="modifyTime" />
    <result column="creator_id"  property="creatorId" />
    <result column="modifier_id"  property="modifierId" />
  </resultMap>

  <!--  更改是否当前地址的标记  -->
  <update id="updateDefaultFlag" parameterType="map">
    update address
    set is_current = 0
    where customer_id = #{customerId}
      and market_id = #{marketId};
    update address
    set is_current = 1
    where id = #{id};
  </update>

</mapper>