<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.customer.mapper.CustomerMarketMapper">
  <resultMap id="BaseResultMap" type="com.dili.customer.domain.CustomerMarket">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_id"  property="marketId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>

</mapper>