<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.customer.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.dili.customer.domain.Customer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code"  property="code" />
    <result column="certificate_number"  property="certificateNumber" />
    <result column="certificate_type"  property="certificateType" />
    <result column="certificate_range"  property="certificateRange" />
    <result column="certificate_addr"  property="certificateAddr" />
    <result column="name"  property="name" />
    <result column="birthdate"  property="birthdate" />
    <result column="gender"  property="gender" />
    <result column="photo"  property="photo" />
    <result column="cellphone"  property="cellphone" />
    <result column="contacts_phone" property="contactsPhone" />
    <result column="contacts_name" property="contactsName" />
    <result column="organization_type"  property="organizationType" />
    <result column="source_system"  property="sourceSystem" />
    <result column="source_channel" property="sourceChannel" />
    <result column="registered_capital" jdbcType="BIGINT" property="registeredCapital" />
    <result column="employee_number"  property="employeeNumber" />
    <result column="corporation_certificate_type"  property="corporationCertificateType" />
    <result column="corporation_certificate_number"  property="corporationCertificateNumber" />
    <result column="corporation_name"  property="corporationName" />
    <result column="is_cellphone_valid"  property="isCellphoneValid" />
    <result column="creator_id"  property="creatorId" />
    <result column="create_time"  property="createTime" />
    <result column="modify_time"  property="modifyTime" />
    <result column="is_delete"  property="isDelete" />
    <result column="state"  property="state" />
  </resultMap>

  <!-- list列表查询返回结果集 -->
  <resultMap id="listResultMap"  type="com.dili.customer.domain.Customer" extends="BaseResultMap">
    <result column="customerMarketId"  property="customerMarket.id" />
    <result column="marketId" property="customerMarket.marketId" />
    <result column="marketCreateTime" property="customerMarket.createTime" />
    <result column="marketCreatorId" property="customerMarket.creatorId" />
    <result column="grade" property="customerMarket.grade" />
    <result column="type" property="customerMarket.type" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, code, certificate_number, certificate_type, certificate_range, certificate_addr, 
    name, birthdate, gender, photo, cellphone, organization_type, source_system, registered_capital,
    employee_number, corporation_certificate_type, corporation_certificate_number, corporation_name, 
    is_cellphone_valid, creator_id, create_time, modify_time, is_delete, state
  </sql>


  <!--- 联合查询分页信息 -->
  <select id="listForPage" parameterType="com.dili.customer.sdk.domain.dto.CustomerQueryInput"  resultMap="listResultMap">
    SELECT
        c.*,
        cm.id as customerMarketId, cm.market_id as marketId,cm.create_time as marketCreateTime,cm.creator_id AS marketCreatorId,cm.grade,cm.type
    FROM
      customer c,customer_market cm
      <where>
        c.id = cm.customer_id
        <if test="id != null">
          and c.id = #{id}
        </if>
        <if test="null != idList and idList.size()>0">
          and c.id in
          <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
        <if test="marketId != null">
          and cm.market_id = #{marketId}
        </if>
        <if test="null != marketIdList and marketIdList.size()>0">
          <!-- and c.id in (SELECT cf.customer_id FROM customer_market cf where cf.market_id in -->
          and cm.market_id in
          <foreach collection="marketIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
        <if test="name != null">
          and c.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="certificateNumber != null">
          and c.certificate_number = #{certificateNumber}
        </if>
        <if test="certificateNumberMatch != null">
          and c.certificate_number LIKE CONCAT('',#{certificateNumberMatch},'%')
        </if>
        <if test="code != null">
          and c.code = #{code}
        </if>
        <if test="organizationType != null">
          and c.organization_type = #{organizationType}
        </if>
        <if test="grade != null">
          and cm.grade = #{grade}
        </if>
        <if test="contactsPhone != null">
          and c.contacts_phone = #{contactsPhone}
        </if>
        <if test="sourceSystem != null">
          and c.source_system = #{sourceSystem}
        </if>
        <if test="sourceChannel != null">
          and c.source_channel = #{sourceChannel}
        </if>
        <if test="state != null">
          and c.state = #{state}
        </if>
        <if test="marketCreateTimeStart != null">
          and cm.create_time >= #{marketCreateTimeStart}
        </if>
        <if test="marketCreateTimeEnd != null">
          and cm.create_time <![CDATA[ <= ]]> #{marketCreateTimeEnd}
        </if>
        <if test="isDelete != null">
          and c.is_delete = #{isDelete}
        </if>
        <if test="keyword != null">
          and ( c.certificate_number =  #{keyword} or c.name like concat('%', #{keyword}, '%') or c.code like concat('%', #{keyword}, '') )
        </if>
        <if test="marketCreatorId != null">
          and cm.creator_id = #{marketCreatorId}
        </if>
      </where>
      <if test="isGroup != null and isGroup == true">
         group by c.id
      </if>
    order by ${sort} ${order}
</select>

</mapper>