<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.customer.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.dili.customer.domain.Customer">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" property="code"/>
        <result column="certificate_number" property="certificateNumber"/>
        <result column="certificate_type" property="certificateType"/>
        <result column="certificate_range" property="certificateRange"/>
        <result column="certificate_addr" property="certificateAddr"/>
        <result column="name" property="name"/>
        <result column="birthdate" property="birthdate"/>
        <result column="gender" property="gender"/>
        <result column="photo" property="photo"/>
        <result column="contacts_phone" property="contactsPhone"/>
        <result column="contacts_name" property="contactsName"/>
        <result column="organization_type" property="organizationType"/>
        <result column="source_system" property="sourceSystem"/>
        <result column="source_channel" property="sourceChannel"/>
        <result column="registered_capital" jdbcType="BIGINT" property="registeredCapital"/>
        <result column="employee_number" property="employeeNumber"/>
        <result column="corporation_certificate_type" property="corporationCertificateType"/>
        <result column="corporation_certificate_number" property="corporationCertificateNumber"/>
        <result column="corporation_name" property="corporationName"/>
        <result column="is_cellphone_valid" property="isCellphoneValid"/>
        <result column="current_city_path" property="currentCityPath"/>
        <result column="current_city_name" property="currentCityName"/>
        <result column="current_address" property="currentAddress"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <!-- list列表查询返回结果集 -->
    <resultMap id="listResultMap" type="com.dili.customer.domain.Customer" extends="BaseResultMap">
        <result column="customerMarketId" property="customerMarket.id"/>
        <result column="market_id" property="customerMarket.marketId"/>
        <result column="marketCreateTime" property="customerMarket.createTime"/>
        <result column="marketCreatorId" property="customerMarket.creatorId"/>
        <result column="grade" property="customerMarket.grade"/>
        <result column="department_ids" property="customerMarket.departmentIds"/>
        <result column="profession" property="customerMarket.profession"/>
        <result column="profession_name" property="customerMarket.professionName" />
        <result column="business_nature" property="customerMarket.businessNature" />
        <result column="business_region_tag" property="customerMarket.businessRegionTag" />
        <result column="sales_market" property="customerMarket.salesMarket"/>
        <result column="marketState" property="customerMarket.state"/>
        <result column="approval_status" property="customerMarket.approvalStatus" />
        <result column="approval_time" property="customerMarket.approvalTime" />
        <result column="approval_user_id" property="customerMarket.approvalUserId" />
        <result column="owner_ids" property="customerMarket.ownerIds" />
    </resultMap>

    <!-- 公共查询customer 单表 条件 -->
    <sql id="Base_Where_Clause">
        <if test="id != null">
            and c.id = #{id}
        </if>
        <if test="null != idSet and idSet.size()>0">
            and c.id in
            <foreach collection="idSet" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="null != notInIdSet and notInIdSet.size()>0">
            and c.id not in
            <foreach collection="notInIdSet" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="name != null and '' != name">
            and c.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="null != certificateType">
            and c.certificate_type = #{certificateType}
        </if>
        <if test="certificateNumber != null and '' != certificateNumber">
            and c.certificate_number = #{certificateNumber}
        </if>
        <if test="certificateNumberMatch != null and '' != certificateNumberMatch ">
            and c.certificate_number LIKE CONCAT('',#{certificateNumberMatch},'%')
        </if>
        <if test="code != null and '' != code ">
            and c.code = #{code}
        </if>
        <if test="organizationType != null and '' != organizationType ">
            and c.organization_type = #{organizationType}
        </if>
        <if test="contactsPhone != null and '' != contactsPhone ">
            and c.contacts_phone = #{contactsPhone}
        </if>
        <if test="sourceSystem != null and '' != sourceSystem">
            and c.source_system = #{sourceSystem}
        </if>
        <if test="sourceChannel != null and '' != sourceChannel">
            and c.source_channel = #{sourceChannel}
        </if>
        <if test="certificateAddr !=null and certificateAddr !=''">
            and c.certificate_addr LIKE CONCAT('%',#{certificateAddr},'%')
        </if>
        <if test="currentCityId !=null">
            and FIND_IN_SET(#{currentCityId},c.current_city_path)
        </if>
        <if test="isDelete != null">
            and c.is_delete = #{isDelete}
        </if>
        <if test="keyword != null and '' != keyword">
            and ( c.certificate_number = #{keyword} or c.name like concat('%', #{keyword}, '%') or c.code like
            concat('%', #{keyword}, '%') or c.contacts_phone like concat('', #{keyword}, '%') )
        </if>
        <if test="codeList !=null and codeList.size() > 0">
            and c.code in
            <foreach collection="codeList" item="temp" open="(" close=")" separator=",">
                #{temp}
            </foreach>
        </if>
    </sql>

    <!--- 联合查询分页信息 -->
    <select id="listForPage" parameterType="com.dili.customer.sdk.domain.query.CustomerQueryInput" resultMap="listResultMap">
        SELECT
        c.*,
        cm.id as customerMarketId, cm.market_id,cm.create_time as marketCreateTime,cm.creator_id AS marketCreatorId,
        cm.grade,cm.department_ids,cm.profession,cm.profession_name,cm.sales_market,cm.business_nature,cm.approval_status,
        cm.approval_user_id,cm.approval_time,cm.owner_ids,cm.business_region_tag,cm.state AS marketState
        FROM
        customer c,customer_market cm
        where c.id = cm.customer_id
        <include refid="Base_Where_Clause"/>
        <if test="marketId != null">
            and cm.market_id = #{marketId}
        </if>
        <if test="marketCreateTimeStart != null">
            and cm.create_time >= #{marketCreateTimeStart}
        </if>
        <if test="marketCreateTimeEnd != null">
            and cm.create_time <![CDATA[ <= ]]> #{marketCreateTimeEnd}
        </if>
        <if test="(null != assetsIdSet and  assetsIdSet.size() > 0) or (assetsName !=null and assetsName !='')">
            and c.id in
            (select customer_id from tallying_area ta where ta.market_id=#{marketId}
                <if test="null != assetsIdSet and  assetsIdSet.size() > 0">
                    and ta.assets_id in
                    <foreach collection="assetsIdSet" index="index" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="assetsName !=null and assetsName !=''">
                    and ta.assets_name = #{assetsName}
                </if>
            /* 直接可用的，或者有租赁状态且已生效的 */
            and (ta.is_usable = 1 or (ta.is_lease=1 and ta.state=5)))
        </if>
        <if test="null != vehicleNumber and vehicleNumber !=''">
            and c.id in
            (select customer_id from vehicle_info vi where vi.market_id=#{marketId} and vi.registration_number = #{vehicleNumber})
        </if>
        <if test="null != hasLicense">
            <if test="hasLicense == 1">
                and c.id in
            </if>
            <if test="hasLicense == 0">
                and c.id not in
            </if>
            (select customer_id from attachment att
            <if test="marketId != null">
                where att.market_id = #{marketId}
            </if>
            )
        </if>
        <if test="null != customerMarket">
            <if test="null != customerMarket.departmentIdSet and customerMarket.departmentIdSet.size() >0 ">
                <!-- 按照部门权限过滤，需要比对传入的权限部门id 与 已存在的客户归属部门，需要存在交集，则此条数据才能被检索到 -->
                and (concat(',',cm.department_ids,',') regexp concat(',',replace(#{customerMarket.metadata.departmentIdsStr},',',',|,'),',') = 1 or cm.department_ids is null)
            </if>
            <if test="null != customerMarket.salesMarket and ''!=customerMarket.salesMarket">
                and cm.sales_market = #{customerMarket.salesMarket}
            </if>
            <if test="customerMarket.departmentIds != null and customerMarket.departmentIds !=''">
                and FIND_IN_SET(#{customerMarket.departmentIds}, cm.department_ids)
            </if>
            <if test="customerMarket.ownerIds != null and customerMarket.ownerIds !=''">
                and (FIND_IN_SET(#{customerMarket.ownerIds}, cm.owner_ids) or cm.owner_ids is null)
            </if>
            <if test="customerMarket.grade != null">
                and cm.grade = #{customerMarket.grade}
            </if>
            <if test="customerMarket.creatorId != null">
                and cm.creator_id = #{customerMarket.creatorId}
            </if>
            <if test="customerMarket.approvalStatus != null">
                and cm.approval_status = #{customerMarket.approvalStatus}
            </if>
            <if test="customerMarket.state != null">
                and cm.state = #{customerMarket.state}
            </if>
        </if>
        <!-- 如果客户身份类型参数不为空 -->
        <if test="null != characterType">
            and c.id in
            (select customer_id from character_type ct
            <where>
                <if test="marketId != null">
                    and ct.market_id = #{marketId}
                </if>
                <if test="null != characterType.characterType and ''!=characterType.characterType">
                    and ct.character_type = #{characterType.characterType}
                </if>
                <if test="null != characterType.subType and ''!=characterType.subType">
                    and ct.sub_type = #{characterType.subType}
                </if>
            </where>
            )
        </if>
        ORDER BY ${sort} ${order}
    </select>

    <!--- 联合查询分页信息 -->
    <select id="listBasePage" parameterType="com.dili.customer.sdk.domain.query.CustomerBaseQueryInput"
            resultMap="BaseResultMap">
        SELECT c.* FROM customer c WHERE 1=1
        <include refid="Base_Where_Clause"/>
        ORDER BY ${sort} ${order}
    </select>

</mapper>