<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.customer.mapper.CustomerMarketMapper">
  <resultMap id="BaseResultMap" type="com.dili.customer.domain.CustomerMarket">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id"  property="id" />
    <result column="market_id"  property="marketId" />
    <result column="department_id"  property="departmentId" />
    <result column="customer_id"  property="customerId" />
    <result column="owner_id"  property="ownerId" />
    <result column="grade" property="grade" />
    <result column="profession"  property="profession" />
    <result column="operating_area"  property="operatingArea" />
    <result column="operating_lng"  property="operatingLng" />
    <result column="operating_lat"  property="operatingLat" />
    <result column="other_title"  property="otherTitle" />
    <result column="sales_market" property="salesMarket" />
    <result column="alias"  property="alias" />
    <result column="type"  property="type" />
    <result column="notes"  property="notes" />
    <result column="modifier_id"  property="modifierId" />
    <result column="modify_time"  property="modifyTime" />
  </resultMap>

  <!-- list列表查询返回结果集 -->
  <resultMap id="resultUnionCustomerMap"  type="com.dili.customer.domain.dto.CustomerMarketDto" extends="BaseResultMap">
    <result column="customerName"  property="customerName" />
    <result column="customerState" property="customerState" />
    <result column="isCellphoneValid" property="isCellphoneValid" />
  </resultMap>
  
  <select id="selectByContactsPhone" parameterType="string" resultMap="resultUnionCustomerMap">
    SELECT c.`name`,c.state,c.is_cellphone_valid, cm.* from customer_market cm,customer c where cm.customer_id = c.id AND c.contacts_phone=#{value}
  </select>

</mapper>