<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.customer.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.dili.customer.domain.Customer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="certificate_number" jdbcType="VARCHAR" property="certificateNumber" />
    <result column="certificate_type" jdbcType="VARCHAR" property="certificateType" />
    <result column="certificate_range" jdbcType="VARCHAR" property="certificateRange" />
    <result column="certificate_addr" jdbcType="VARCHAR" property="certificateAddr" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthdate" jdbcType="DATE" property="birthdate" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
    <result column="organization_type" jdbcType="VARCHAR" property="organizationType" />
    <result column="source_system" jdbcType="VARCHAR" property="sourceSystem" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="operating_area" jdbcType="VARCHAR" property="operatingArea" />
    <result column="operating_lng" jdbcType="VARCHAR" property="operatingLng" />
    <result column="operating_lat" jdbcType="VARCHAR" property="operatingLat" />
    <result column="other_title" jdbcType="VARCHAR" property="otherTitle" />
    <result column="main_category" jdbcType="VARCHAR" property="mainCategory" />
    <result column="registered_capital" jdbcType="BIGINT" property="registeredCapital" />
    <result column="employee_number" jdbcType="VARCHAR" property="employeeNumber" />
    <result column="corporation_certificate_type" jdbcType="VARCHAR" property="corporationCertificateType" />
    <result column="corporation_certificate_number" jdbcType="VARCHAR" property="corporationCertificateNumber" />
    <result column="corporation_name" jdbcType="VARCHAR" property="corporationName" />
    <result column="is_cellphone_valid" jdbcType="INTEGER" property="isCellphoneValid" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, code, certificate_number, certificate_type, certificate_range, certificate_addr, 
    name, birthdate, gender, photo, cellphone, organization_type, source_system, profession, 
    operating_area, operating_lng, operating_lat, other_title, main_category, registered_capital, 
    employee_number, corporation_certificate_type, corporation_certificate_number, corporation_name, 
    is_cellphone_valid, creator_id, create_time, modify_time, is_delete, state
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!--- 联合查询分页信息 -->
  <select id="listForPage" parameterType="com.dili.customer.domain.dto.CustomerQueryInput" resultType="com.dili.customer.domain.Customer">
      SELECT c.* from customer c
        <where>
          <if test="id != null">
            and c.id = #{id}
          </if>
          <if test="marketId != null">
            and c.id in (SELECT cf.customer_id FROM customer_firm cf where cf.market_id = #{marketId} )
          </if>
          <if test="null != marketIdList and marketIdList.size()>0">
            and c.id in (SELECT cf.customer_id FROM customer_firm cf where cf.market_id in
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>
            )
          </if>
          <if test="name != null">
            and c.name LIKE CONCAT('%',#{name},'%')
          </if>
          <if test="certificateNumber != null">
            and c.certificate_number = #{certificateNumber}
          </if>
          <if test="certificateNumberMatch != null">
            and c.certificate_number LIKE CONCAT('',#{certificateNumberMatch},'%')
          </if>
          <if test="code != null">
            and c.code = #{code}
          </if>
          <if test="organizationType != null">
            and c.organization_type = #{organizationType}
          </if>
          <if test="grade != null">
            and c.grade = #{grade}
          </if>
          <if test="contactsPhone != null">
            and c.contacts_phone = #{contactsPhone}
          </if>
          <if test="sourceSystem != null">
            and c.source_system = #{sourceSystem}
          </if>
          <if test="state != null">
            and c.state = #{state}
          </if>
          <if test="createTimeStart != null">
            and c.create_time >= #{createTimeStart}
          </if>
          <if test="createTimeEnd != null">
            and c.create_time <![CDATA[ < ]]> #{createTimeEnd}
          </if>
        </where>
      GROUP BY c.id
      order by ${sort} ${order}
  </select>

</mapper>