<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.customer.mapper.FirmInfoMapper">
  <resultMap id="BaseResultMap" type="com.dili.customer.domain.FirmInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="firm_id" jdbcType="VARCHAR" property="firmId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, firm_id, department_id, customer_id, owner_id, alias, type, phone, notes, modifier_id, 
    modify_time
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from customer_firm_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.customer.domain.FirmInfo">
    <!--
      WARNING - @mbg.generated
    -->
    update customer_firm_info
    <set>
      <if test="firmId != null">
        firm_id = #{firmId,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>